@import"colors.scss";

.single-card {
  display: flex;
  flex-direction: column;
  background-color: #3D5A80;
  margin: 2rem 2rem 0 2rem;
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  span {
    align-self: center;
    color: white;
    font-weight: bold;
  }

  .image-container {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: 1rem;
    img {
      height: 15rem;
      width: 15rem;
    }
  }

}
.single-card:hover {
  background-color: $button-active-color;
}