@import"colors.scss";

.divcontainer{
  display: flex;
  justify-content: center;
  flex-direction: row;

  box-shadow: 0px 8px 14px 0px rgba(31,30,31,0.78);

  .topic {
    width: 80rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .question {
    background-color: $question-bg-color;
  }

  .before {
    background-color: $hidden-ans-color;
  }

  .after {
    background-color: $reveal-ans-color;
  }

  .reveal-button {
    padding: 2rem;
    border: none;
    font-size: 1rem;
    background-color: orange;
    cursor: pointer;
  }
  .reveal-button:hover {
    background-color: blue;
  }
}